<app-header />
<main>
    <h2>404 Not Found</h2>
    <div id="container">
        <div class="card">
            <span class="top">4</span>
            <span class="suit material-symbols-outlined">search</span>
            <span class="bottom">4</span>
        </div>
        <div class="card">
            <span class="top">0</span>
            <span class="suit material-symbols-outlined"></span>
            <span class="bottom">0</span>
        </div>
        <div class="card">
            <span class="top">4</span>
            <span class="suit material-symbols-outlined">search</span>
            <span class="bottom">4</span>
        </div>
    </div>
</main>