/****************** menu *************************/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #b81f24;
    color: #fff;
    margin: 10px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

nav a {
    cursor: pointer;
}

nav a:hover {
    text-decoration: underline;
}

.navbar li {
    list-style: none;
    font-size: 25px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.logo,
.logo a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.menu {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 18px;
}

.menu li {
    padding: 5px 14px;

}

input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/***************************** media breakpoints ***********************/

@media only screen and (max-width: 1015px) and (min-width: 870px){
    .extra-nav-text {
        display: none;
    }
}
@media (max-width: 870px) {
    .menu {
        display: none;
        position: absolute;
        background-color: grey;
        top: 65px;
        right: 10px;
        left: 10px;
        text-align: center;
        padding: 16px 0;
        border-radius: 10px;
        z-index: 5;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }
}