<nav class="navbar">
    <div class="logo"><a href="https://ryanmontville.github.io/">Ryan Montville</a><span class="extra-nav-text"> | <a (click)="goHome()">Go Fish</a></span></div>
    <ul class="nav-links">
        <input 
          type="checkbox" 
          id="checkbox_toggle" 
          ngModel="showMenu"
          [checked]="showMenu"
          (change)="showMenu = !showMenu"
          />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <div class="menu">
            <li><a (click)="goHome()">Home</a></li>
          <li><a (click)="goToGame()">Game</a></li>
            <li><a href="https://github.com/RyanMontville/go-fish">View <span class="extra-nav-text">GitHub </span>Repo</a></li>
            <li><a href="https://www.github.com/RyanMontville" title="GitHub" target="blank"><i
              class="fa-brands fa-github"></i><span class="link-desc"></span></a></li>
            <li><a href="https://www.linkedin.com/in/ryanmontville" title="LinkedIn" target="blank"><i
              class="fa-brands fa-linkedin-in"></i></a></li>
        </div>
    </ul>
  </nav>
<router-outlet></router-outlet>
