<main>
    <section id="player">
        <h3>Your cards</h3>
        <section id="user-hand">
            <div *ngFor="let card of userHand" [ngClass]="checkSuit(card.getSuit())">
                <span class="top">{{formatCardRank(card.getRank())}}</span>
                <span class="suit">{{card.getSuit()}}</span>
                <span class="bottom">{{formatCardRank(card.getRank())}}</span>
            </div>
        </section>
        <hr />
        <article *ngIf="playerTurn==='user'">
            <h3>Ask the computer</h3>
        <button *ngFor="let card of userUniqueCards" (click)="userAsk(card)" class="btn">Got any
            {{formatCardRank(card)}}s?</button>
        </article>
        <article *ngIf="playerTurn==='program'">
            Program's turn
        </article>
        <hr />
        <fieldset *ngIf="userPairs.length!==0">
            <legend>Your pairs</legend>
            <span *ngFor="let card of userPairs">{{formatCardRank(card)}}</span>
        </fieldset>
        <fieldset *ngIf="programPairs.length!==0">
            <legend>The computer's pairs</legend>
            <span *ngFor="let card of programPairs">{{formatCardRank(card)}}</span>
        </fieldset>
        <div *ngFor="let card of programHand">{{formatCardRank(card.getRank())}}</div>


    </section>
    <section id="messages" #scrollMe style="overflow: scroll; height: 300px;" [scrollTop]="scrollMe.scrollHeight">
        <article *ngFor="let message of messages" [class]="message.class">{{message.text}}</article>
    </section>
</main>