<main>
    <section id="player">
        <h3>Your cards</h3>
        <div *ngFor="let card of userHand" [ngClass]="checkSuit(card.getSuit())">
            <span class="top">{{formatCardRank(card.getRank())}}</span>
            <span class="suit">{{card.getSuit()}}</span>
            <span class="bottom">{{formatCardRank(card.getRank())}}</span>
        </div>
        <hr />
        <h3>Ask the computer</h3>
        <button *ngFor="let card of userUniqueCards" (click)="addMessage(card)" class="btn">Got any
            {{formatCardRank(card)}}s?</button>
        <hr />
        <h3>Put pairs aside</h3>
        <fieldset *ngIf="userPairs.length!==0">
            <legend>Your pairs</legend>
            <span *ngFor="let card of userPairs">{{card.getCard()}}</span>
        </fieldset>
        <fieldset *ngIf="programPairs.length!==0">
            <legend>The computer's pairs</legend>
            <span *ngFor="let card of programPairs">{{card.getCard()}}</span>
        </fieldset>


    </section>
    <section id="messages">
        <article *ngFor="let message of messages" [class]="message.class">{{message.text}}</article>
    </section>
</main>